@import '../../colors';

header {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 27px 6.5% 0 6.5%;
    position:sticky;
    top: 0;
    z-index: 10;
    background-color: transparent;
    transition: background-color 0.5s ease,
                box-shadow 0.5s ease,
                transform 0.5s ease;
}

header.sticky {
    max-height: 80px;
    background: white;
    box-shadow: 0px 0px 30px #2321321F;
    transform: translateY(-27px);
    // img {
    //     width: 64px;
    //     height: 64px;
    // }
    // nav {
    //     a {
    //         font-size: 16px;
    //     }
    //     button {
    //         height: 35px;
    //         padding-top: 5px;
    //         padding-bottom: 5px;
    //     }
    // }
}

img {
    width: 64px;
    height: 64px;
}

nav {
    display:flex;
    align-items: center;
    justify-self: end;
    a {
        margin: 0 25px;
        color: $black;
        font: normal normal normal 16px/34px Open Sans;
        transition: font-size 0.5s ease;
        &:hover {
            color: $deepPurple;
        }
    }
    .button-group {
        margin-left: 35px;
        height: 35px;
        padding-top: 5px;
        padding-bottom: 5px;
        display: flex;
        gap: 24px;
        button {
            font-family: Montserrat-Medium;
            font-size: 16px;
            transition: height 0.5s ease,
                        padding 0.5s ease;
        };
    }
}