<app-header></app-header>

<main>
  <div class="page1">
    <div class="title">
      <div class="super-simple-title">
        We make it Super
      </div>
      <div class="super-simple-title">
        Simple
      </div>
      <div class="line"></div>
    </div>
    <div class="calculator">
      <mat-card>
        <h4>
          Eligiblity Calculator
        </h4>
        <form>
          
          <app-slider [min]="100000"
                      [max]="300000"
                      [value]="income"
                      label="Monthly Income"
                      [currency]="currency"
                      (valueChanged)="income = $event || 0; calculate()">
          </app-slider>
          <app-slider [min]="0"
                      [max]="300000"
                      [value]="expense"
                      label="Monthly Expense"
                      [currency]="currency"
                      (valueChanged)="expense = $event || 0; calculate()">
          </app-slider>
          <div class="padding-x-8">
            <mat-form-field>
              <mat-label>Repayment Tenure</mat-label>
              <mat-select [(value)]="month"
                          (selectionChange)="calculate()">
                <mat-option *ngFor="let m of months"
                            [value]="m">
                  {{m}} Months
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-slide-toggle (toggleChange)="hasExistingLoans = !hasExistingLoans; calculate()"
                              [checked] = "hasExistingLoans"
                              labelPosition="before"
                              color="primary">
              Do you have any existing loans?
            </mat-slide-toggle>
            
            <mat-form-field>
              <mat-label>EMI of existing loans</mat-label>
              <input type="number"
                    matInput
                    [(ngModel)]="existingLoanEMI"
                    (ngModelChange)="calculate()"
                    [disabled]="!hasExistingLoans"
                    name="existingLoanEMI"/>
            </mat-form-field>
          </div>
    
        </form>
      </mat-card>
      <div class="result">
        <div>
          <label>Loan Amount</label>
          <div class="value">{{currency + loanAmount}}</div>
        </div>
        <div>
          <label>Your EMI will be</label>
          <div class="value">{{currency + emi}}</div>
        </div>
        <button class="cta">Get Money</button>
      </div>
    </div>
  </div>
  <div class="page2">
    <div class="left">
      <div class="col1">
        <app-floating-card imgSrc="./assets/img/Get Paid Instantly.png"
          title="Quick cash disbursement"
          body="Get terms loans that your business needs within 72 hrs">
        </app-floating-card>
        <app-floating-card imgSrc="./assets/img/Low interest rate.png"
          title="Low-interest rate"
          body="Achieve your financial goals with an amazing interest rate starting at 13% per annum">
        </app-floating-card>
        <app-floating-card imgSrc="./assets/img/Secure Payments.png"
          title="Zero Paperwork"
          body="Get started instantly by submitting only your basic details & bank statements">
        </app-floating-card>
      </div>
      <div class="col2">
        <app-floating-card imgSrc="./assets/img/freelancer_feature_icon_6@1.5x.png"
          title="Ace your business finances"
          body="Manage banking, accounting & everything in between, on one platform">
        </app-floating-card>
        <app-floating-card imgSrc="./assets/img/Covid.png"
          title="Loans to fight COVID-19"
          body="Zero EMI for first 3 months on Back-to-Business loans of upto 1 lakh">
        </app-floating-card>
      </div>
    </div>
    <div class="right">
      <div class="super-simple-title">
        Boost your business with Open
      </div>
      <div class="line"></div>
      <p class="body2">Get your hands on a term loan that’s crafted for your business</p>
      <button class="outline">Get an Open Account</button>
    </div>
  </div>
</main>
