@import './colors';

body {
    margin: 0;
    background-color: $offWhite;
    background: url('./assets/img/circle.png') no-repeat,
                url('./assets/img/blob-small.png') no-repeat,
                url('./assets/img/accounting_dots.png') no-repeat,
                url('./assets/img/accounting_dots@2x.png') no-repeat,
                url('./assets/img/collect_img-video.png') no-repeat,
                url('./assets/img/sol_wave_bg.png') no-repeat;
    background-size: 60vw auto, 
                    25vw auto,
                    430px 70px,
                    430px 70px,
                    34vw auto,
                    100vw auto;
    background-position: right -10vw top -15vh,
                        -8vw 25vh,
                        right 30px top 78vh,
                        24vw 77vh,
                        7vw 45vh,
                        0 120vh;
}

a {
    text-decoration: none;
}

button {
    border-radius: 24px;
    height: 45px;
    border-width: 2px;
    border-style: solid;
    padding: 13px 36px;
    cursor: pointer;
    &.cta {
        background: transparent linear-gradient(90deg, #9F62C9 0%, #663399 100%) 0% 0% no-repeat padding-box;
        color: $white;
        box-shadow: 0px 0px 20px $grey;
        border: none;
        &:hover {
            background: $deepPurple;
        }
    }
    &.outline {
        box-shadow: 0px 0px 20px $grey;
        border-color: $deepPurple;
        color: $deepPurple;
        background: transparent;
        &:hover {
            color: $white;
            background: $deepPurple;
        }
    }
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
